html, body {
	height: 98%;
	margin: 0px;
	padding: 0px;
}

body {
	font-family: Tahoma, Geneva, sans-serif;
	background: #FFFFFF;
	font-weight:normal !important;
	color: #444857;
	opacity:0.99;
}

canvas {
	border: 1px solid black;
	margin-bottom: 30px;    
}



.container {
	margin: 0 auto;
	width: 960px;
  	min-height: 96%; 
	height: auto !important;
	height: 96%;
}

.top {
	padding-top: 20px;
}

h1 {
	letter-spacing: 5px;
	font-size: 40px;
	line-height: 40px;
	margin-bottom: 20px;
	color: #444857;
}


#canvas {
	float: left;
}

.heart {
	color: red;
}

.box {
    padding-top: 30px;
    padding-bottom: 0px;
	width: 800px;
	margin: 0 auto;
}

.box2 {
	width: 800px;
	margin: 0 auto;
}

.footer {
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
	padding-bottom: 0px;
}

