html, body {
	height: 96%;
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	background: #FFFFFF;
	text-shadow: -1px -1px 0 rgba(255,255,255,0.6);
	color: #444857;
}

canvas {
	border: 1px solid black;
}



.container {
	margin: 0 auto;
	width: 960px;
  	min-height: 96%; 
	height: auto !important;
	height: 96%;
}

.top {
	padding-top: 20px;
}

h1 {
	letter-spacing: 5px;
	font-size: 40px;
	line-height: 40px;
	margin-bottom: 40px;
	color: #444857;
}

h3 {
	color: #1f97f2;
}

#canvas {
	float: left;
}

.box {
    padding-top: 30px;
	width: 800px;
	margin: 0 auto;
}

.footer {
	padding: 5px 0;
	height: 4%;
}

