<!DOCTYPE html>
<html>
	<head>
		<title>Interactive Resume</title>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<script type="text/javascript" src="js/core.js"></script>
		<script type="text/javascript" src="js/requestAnimationFrame.js"></script>
		<script type="text/javascript" src="js/InputEngine.js"></script>
		<script type="text/javascript" src="js/Player.js"></script>
		<script type="text/javascript" src="js/Character.js"></script>
		<script type="text/javascript" src="js/Sound.js"></script>
		<script type="text/javascript" src="js/GameEngine.js"></script>
	</head>
	<body onload="gGameEngine.load()">
		<div class="container top">
		    
		    <center><h1>Timur's Interactive Resume</h1></center>
		    <hr>
            <div class="box">
		        <canvas id="canvas" width="800" height="400"></canvas>
		    </div>    
		</div>    

		<footer class="footer">
			<div class="container">
				<center><p>made with <span class="heart">&hearts;</span> by Timur Ridjanovic <a href="https://github.com/timurridjanovic/fizzbuzz-game" target="_blank">source @ github</a> powered by Google App Engine</p></center>
			</div>
		</footer>	
	
	
	</body>
</html>
