<!DOCTYPE html>
<html>
	<head>
		<title>Interactive Resume</title>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<script type="text/javascript" src="js/core.js"></script>
		<script type="text/javascript" src="js/requestAnimationFrame.js"></script>
		<script type="text/javascript" src="js/InputEngine.js"></script>
		<script type="text/javascript" src="js/Player.js"></script>
		<script type="text/javascript" src="js/Character.js"></script>
		<script type="text/javascript" src="js/Sound.js"></script>
		<script type="text/javascript" src="js/GameEngine.js"></script>
	</head>
	<body onload="gGameEngine.load()">
		<div class="container top">
		    
		    <center><h1>Timur's Interactive Resume</h1></center>
		    <hr width="800">
            <div class="box">
		        <canvas id="canvas" width="800" height="400"></canvas>
		    </div>
		    <div class="box">
		        <h2>How to Play:</h2>
		        <p>Use the arrows to move around and talk to Timur's colleagues. You can find them with the help of the map on the top right corner of the canvas.</p>
		        <p>Press 'space' to engage in a conversation when positioned right next to the person. Continue pressing space until no more text is being displayed. To disengage a conversation, simply move away.</p>
		        <p>Press 'backspace' to mute the music.</p>
		        <p>Press 'F1' to refresh the page and start over.</p>
		    </div>  
		</div>    

		<footer class="footer">
			<div class="container">
				<center><p>made with <span class="heart">&hearts;</span> by Timur Ridjanovic <a href="https://github.com/timurridjanovic/interactive-resume" target="_blank">source @ github</a></p></center>
			</div>
		</footer>	
	
	
	</body>
</html>
