<!DOCTYPE html>
<html>
	<head>
		<title>Interactive Resume</title>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<script type="text/javascript" src="components/EaselJS/lib/easeljs-0.7.0.min.js"></script>
		<script type="text/javascript" src="components/PreloadJS/lib/preloadjs-0.4.0.min.js"></script>
		<script type="text/javascript" src="js/core.js"></script>
		<script type="text/javascript" src="js/utils.js"></script>
		<script type="text/javascript" src="js/requestAnimationFrame.js"></script>
		<script type="text/javascript" src="js/InputEngine.js"></script>
		<script type="text/javascript" src="js/Player.js"></script>
		<script type="text/javascript" src="js/Character.js"></script>
		<script type="text/javascript" src="js/GameEngine.js"></script>
	</head>
	<body onload="gGameEngine.load()">
		<canvas id="canvas" width="800" height="400"></canvas>
	</body>
</html>
